{% extends 'global/base.html' %}


{% block home %}
<div class="container card-centered">
    <div class="centered">
        <h1>Upload de Arquivo</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-style">Enviar</button>

            <div class="btn-primary centered">   
                <button id="btn-show-images" class="btn btn-primary mb-4 mt-4 btn-style">Mostrar Imagens</button>
            </div>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message-card" class="card {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

</div>

<div class="images">
    {% block image_content %}
        {% for image in images %}
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <p>{{ images.title }}</p>
        {% endfor %}
    {% endblock %}
</div>

<script>
    document.getElementById('btn-show-images').addEventListener('click', function () {
        // Fazendo a solicitação AJAX para buscar a lista de imagens
        fetch('/list/') // Certifique-se de que o URL esteja correto para a sua view ContextView
            .then(response => response.text())
            .then(data => {
                // Inserindo o conteúdo retornado pelo servidor na div com a classe "images"
                document.querySelector('.images').innerHTML = data;
            })
            .catch(error => {
                console.error('Erro ao buscar a lista de imagens:', error);
            });
    });
</script>

{% endblock home %}
